.cover {
  position: fixed;
  z-index: -10;
  height: 90vh;
  width: 100%;
  // border: 2px solid $secondary-color;

  #name {
    position: fixed;
    bottom:-250px;
    left: 0;
    margin: 5rem 2rem;
    letter-spacing: 0.5rem;
    writing-mode: vertical-rl;
    animation: nameUpDown 8s linear infinite;
  }

  @keyframes nameUpDown {
    0% {
      transform: scale(-1, -1) translateY(-20vh);
    }
    20% {
      transform: scale(-1, -1) translateY(10vh);
    }
    40% {
      transform: scale(-1, -1) translateY(40vh);
    }
    60% {
      transform: scale(-1, -1) translateY(70vh);
    }
    80% {
      transform: scale(-1, -1) translateY(100vh);
    }
    100% {
      transform: scale(-1, -1) translateY(120vh);
    }
  }

  #dev {
    position: fixed;
    bottom:-300px;
    right: 0;
    margin: 2rem;
    letter-spacing: 0.3rem;
    writing-mode: vertical-rl;
    text-orientation: "";
    transform: scale(-1, -1);
    animation: devUpDown 10s linear infinite;
  }

  @keyframes devUpDown {
    0% {
      transform: scale(-1, -1) translateY(140vh);
    }
    20% {
      transform: scale(-1, -1) translateY(120vh);
    }
    40% {
      transform: scale(-1, -1) translateY(80vh);
    }
    60% {
      transform: scale(-1, -1) translateY(40vh);
    }
    80% {
      transform: scale(-1, -1) translateY(0vh);
    }
    100% {
      transform: scale(-1, -1) translateY(-40vh);
    }
  }

  #under-construction {
    font-size: 2rem;
    position: fixed;
    bottom: 0;
    left: -70vw;
    margin: 2rem;
    letter-spacing: 0.3rem;
    animation: underConstruction 8s linear infinite;
  }

  @keyframes underConstruction {
    0% {
      transform: translateX(-70vw);
    }
    25% {
      transform:  translateX(0vw);
    }
    50% {
      transform:  translateX(70vw);
    }
    75% {
      transform:  translateX(130vw);
    }
    100% {
      transform:  translateX(170vw);
    }
  }
}
