.header {
  height: 7vh;
  background-color: $bg-color;
  @include flex-center();
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem 10rem;
  z-index: 100;

  nav {
    flex-basis: 70%;
    @include flex-even();

    .link {
      color: $text-primary-color;
      font-weight: 600;
      font-size: 1.3rem;
    }
  }
}
